:root {
    --link-color: #000066;
    --link-decoration: underline;
    --main-color: black;
    --half-faded-color: #888888;
    --some-faded-color: #666666;
    --highlight-color: #993333;
    --full-color-border: black;
    --mid-color-border: #999999;
    --mostlyfull-color-border: #666666;
    --embiggen-background: #bbbbbb;
    --tooltip-background: #ffff66;
    --tooltip-border: #0000ff;
    --tooltip-color: black;
}

body { color: var(--main-color) }
a { color: var(--link-color); text-decoration: var(--link-decoration); }

table.maintable { border: 2px solid black; border-spacing: 2px }
table.maintable th { border-bottom: 2px solid black; font-weight: bold }

table.exposurelist { border: 2px solid black; border-spacing: 2px }
table.exposurelist th { border-bottom: 2px solid black; font-weight: bold }
table.exposurelist td { border: 2px solid var(--half-faded-color); border-spacing: 2px; padding: 2px }
img { image-rendering: optimizeSpeed }

table.logtable { border: 2px solid black; border-spacing: 2px }
table.logtable th { border-bottom: 2px solid black; font-weight: bold }
table.logtable td { border-bottom: 2px solid var(--half-faded-color);
                    border-spacing: 2px;
                    padding: 2px;
                    padding-right: 1em }

table.candsearchparams td { text-align: right }

.good { font-weight: bold; color: #00c000; }
.bad { font-weight: bold; color: #c00000; }

.link { background: none;
        border: none;
        padding: 0;
        color: var(--link-color);
        text-decoration: var(--link-decoration);
        cursor: pointer;
        font-size: 100%;
      }
