:root {
    --link-color: #000066;
    --link-decoration: underline;
    --main-color: black;
    --half-faded-color: #888888;
    --some-faded-color: #666666;
    --highlight-color: #993333;
    --full-color-border: black;
    --mid-color-border: #999999;
    --mostlyfull-color-border: #666666;
    --embiggen-background: #bbbbbb;
    --tooltip-background: #ffff66;
    --tooltip-border: #0000ff;
    --tooltip-color: black;
    --good-color: #00c000;
    --bad-color: #c00000;
    --stack-color: #800080;
    --stack-bg: #ffeeff;
    --indiv-bg: #eeffee;
    --warning-color: #c06040;
}

body { color: var(--main-color) }
a { color: var(--link-color); text-decoration: var(--link-decoration); }

table { border: 2px solid var(--full-color-border); border-spacing: 2px }
table th { border-bottom: 2px solid var(--full-color-border); font-weight: bold }
table td { border-bottom: 2px solid var(--half-faded-color);
           border-spacing: 2px;
           padding: 2px;
           padding-left: 0.5ex;
           padding-right: 0.5ex; }

table.maintable { border: 2px solid black; border-spacing: 2px }
table.maintable th { border-bottom: 2px solid black; font-weight: bold }

table.exposurelist { border: 2px solid black; border-spacing: 2px }
table.exposurelist th { border-bottom: 2px solid black; font-weight: bold }
table.exposurelist td { border: 2px solid var(--half-faded-color); border-spacing: 2px; padding: 2px }
img { image-rendering: optimizeSpeed }

table.logtable { border: 2px solid black; border-spacing: 2px }
table.logtable th { border-bottom: 2px solid black; font-weight: bold }
table.logtable td { border-bottom: 2px solid var(--half-faded-color);
                    border-spacing: 2px;
                    padding: 2px;
                    padding-right: 1em }

table.candlist { border: 2px solid black; border-spacing: 2px }
table.candlist th { font-weight: bold;
                    border-bottom: 2px solid black;
                    padding: 2px;
                    padding-left: 1ex;
                    padding-right: 1ex;
                  }
table.candlist td { border-bottom: 2px solid var(--half-faded-color);
                    border-spacing: 2px;
                    padding: 2px;
                    padding-left: 1ex;
                    padding-right: 1ex;
                  }

table.candsearchparams td { text-align: right }
table.candsearchparams td.left { text-align: left }

td.vettinglist { border: 2px solid var(--half-faded-color);
                 border-spacing: 2px;
                 padding-left: 2px;
                 padding-right: 2px;
               }

.good { font-weight: bold; color: var(--good-color); }
.bad { font-weight: bold; color: var(--bad-color); }
.warning { font-weight: bold; color: var(--warning-color); }
.italic { font-style: italic }
.bold { font-weight: bold }
.smaller { font-size: 75% }

span.stack { color: var(--stack-color) }
tr.stack { background-color: var(--stack-bg) }
tr.notstack { background-color: var(--indiv-bg) }

.link { background: none;
        border: none;
        padding: 0;
        color: var(--link-color);
        text-decoration: var(--link-decoration);
        cursor: pointer;
        /* font-size: 100%; */
      }

.emmarginabove { margin-top: 1em }
